<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPWkW7GlWWvr6_5wnhiazF1GoU4N-FpN4</string>
	<key>GCM_SENDER_ID</key>
	<string>753614534084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.surveysAppProject</string>
	<key>PROJECT_ID</key>
	<string>nightcaps-75442</string>
	<key>STORAGE_BUCKET</key>
	<string>nightcaps-75442.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753614534084:ios:0203846ea8d71a41aae091</string>
	<key>DATABASE_URL</key>
	<string>https://nightcaps-75442-default-rtdb.firebaseio.com</string>
</dict>
</plist>